<div class="hero-unit" style = "padding-top: 15px; padding-bottom:15px;">
<h1> Events </h2>
</div>

<h2><u>1: Cookout and Picnic!</u></h2>
<br/>
<b><p class = "lead">Date:</b> June 21st, 2012</p>
<b><p class = "lead">Description:</b> Come join the San Jose Manzanar Descendants for a cookout and picnic!
We will be grilling and serving up some tasty treats, and local vendors and food trucks will also be on site. Tickets for food trucks are $3 each.
Come out for good food, and to have a good time!</p>

<b><p class = "lead">Directions:</b> The cookout and picnic will be held at 6th and Gladys Park, on 6th and Gladys Street in Los Angeles, CA 90021.</p>


<h2><u>2: The Annual Pilgrimage Back to Manzanar</u></h2>
<br/>
<b><p class = "lead">Date:</b> April 25th, 2013</p>
<b><p class = "lead">Description:</b> This year, we will be holding the annual pilgrimage on April 25th. All ceremonies and tours will begin at the Cemetery Monument of the site.</p>
<b><p class = "lead">Directions:</b> The Manzanar Site is located along Highway 395, about nine miles North of Lone Pine, California.
Please visit http://www.nps.gov/manz/planyourvisit/directions.htm for more detailed directions.</p>
<b><p class = "lead">What to Wear:</b>Please bring comfortable shoes and several types of clothing to anticipate any weather changes. Also pack sunglasses, a large brimmed hat, and sunglasses. Be prepared for high winds and a dusty climate. Please also bring packed lunches.</p>

<script>
	document.getElementById("events").className = "active"
</script>