  <div class="hero-unit" style = "padding-top: 15px; padding-bottom:15px;">
    <h1>Welcome to the Manzanar Heritage Network</h1>
	<br/>
    <p>This website is dedicated to sharing the stories of past Manzanar Internees through an interactive social network. We believe that societies remember through specific traditions and events in their past and through communication within their stakeholder communities. Outside explorers can serve to benefit greatly from direct interaction with stakeholders providing legitimate responses to questions about the past. A social network allows for the organized remembrance and retelling of the past as well as the re-installation of bonds within stakeholder communities such as this one at Manzanar.
	</p>
  </div>
  <div class="row-fluid">
	<div class="span12">
    <h2>The Story of Manzanar</h2>
	
	<iframe width="560" height="315" src="http://www.youtube.com/embed/ABpo0ggDAzA" frameborder="0" allowfullscreen></iframe>
	<script> document.getElementById("home").className="active" </script>
	<p class = "lead">Japan’s attack on Pearl Harbor on December 7, 1941 marked the beginning of serious conflict between the United States and Japan, and it also set in motion the Anti-Japanese sentiment that would eventually result in one of the biggest breaches in constitutional justice the United States has ever seen.</p> 

	<p class = "lead">After a significant amount of pressure from the current Secretary of War to put Japanese Americans into detention camps, President Franklin D. Roosevelt signed Executive Order 9066 on February 19, 1942. This allowed for the forcible internment of anyone, citizen or not, who was of Japanese descent.</p> 

	<p class = "lead">What followed was one of the largest migrations of people ever. The U.S. government moved over 110,000 people into ten different camps. Of these people, over two-thirds were actually citizens of the United States.</p>

	<p class = "lead">In the process of moving, families were forced to leave anything that they could not easily transport. They closed their jobs, left their farms, and had their lives changed forever. Japanese Americans had done nothing to receive the mass racism that they were faced with.</p> 

	<p class = "lead">The living conditions inside the camps were very rough. The average cost for food per a day was less than fifty cents. Each individual restroom and shower facility buildings served well over two hundred internees. Each camp had its own internal security, and had its external boundaries guarded by military personnel.</p> 

	<p class = "lead">The last internees were removed from the camps on May 20, 1942. It took the government almost fifty years to officially admit their wrongdoings and try and right them, with the Civil Liberties Act of 1988, signed by President Reagan. Each person that was interned was given $20,000 – a pittance in comparison to all that the internment camps took from their livelihood.</p>

	<p class = "lead">Manzanar served as one of the camps during the internment period. It is a National Historic Site that serves as a reminder of the injustice that occurred with the internment of innocent Japanese Americans.</p> 

	<p class = "lead">Although Manzanar does a great job of reminding us of the event that occurred, it fails to remind us of the people that were affected. Throughout the years, the stories of the people that were in the camp are lost. We become less and less connected to how this event really shaped lives.</p>

	<p class = "lead">That is where this website comes into play. We want to remember the people, the stories, and the culture that the internment camp tried so hard to keep closed up. We want to remember what really happened.</p>
	
	<img src = "../Manzanar.jpg"/>
	
  </div><!--/span-->
 
</div><!--/span-->