<div class="hero-unit" style = "padding-top: 15px; padding-bottom:15px;">
<h2> Sources </h2>
<br/>
<ul>
<li>http://www.npr.org/templates/story/story.php?storyId=17335538</li>
<li>http://manzanarproject.weebly.com/life-at-manzanar.html</li>
<li>http://allrecipes.com/recipe/spam-musubi/</li>
<li>http://www.seriouseats.com/recipes/2008/04/tutorial-how-to-make-hawaiian-spam-musubi-sushi.html</li>
<li>http://slowdownbetty.blogspot.com/2007/12/melting-pot-cooking-weenie-hand-roll.html</li>
<li>http://www.awesomestories.com/famous-trials/korematsu-us/camp-manzanar</li>
<li>http://japanesegeta.com/</li>
<li>http://www.minidoka.org/</li>
<li>http://memory.loc.gov/ammem/collections/anseladams/</li>
<li>http://video.pbs.org/video/1184937107</li>
<li>http://www.tellingstories.org/internment/index.html</li>
<li>http://www.goforbroke.org/</li>
<li>http://www.heartmountain.org/</li>
<li>http://www.lostmag.com/issue10/manzanar.php</li>
<li>http://blogs.denverpost.com/captured/2010/10/18/from-the-archive-japanese-internment-at-manzanar/2501/</li>
<li>http://www.fearnotrout.com/</li>
<li>http://www.calisphere.universityofcalifornia.edu/jarda/</li>
<li>http://www.cmdrmark.com/manzanar.html</li>
<li>http://www.owensvalleyhistory.com/manzanar6/page17d.html</li>
<li>http://www.pashnit.com/roads/cal/ManzanarCamp.html</li>
<li>http://www.nps.gov/history/museum/exhibits/manz/oral_history_videos.html</li>
<li>http://www.manzanarcommittee.org/The_Manzanar_Committee/Home.html</li>
<li>http://www.nps.gov/manz/index.htm</li>
<li>http://www.minidokapilgrimage.org/</li>
<li>http://www.nikkeiheritage.org/index.htm</li>
<li>http://store.manzanarstore.com/</li>
<li>http://www.ncrr-la.org/</li>
<li>http://rafu.com/news/</li>
<li>http://www.tulelake.org/</li>
<li>http://www.inyocounty.us/ecmuseum/</li>
<li>http://www.discovernikkei.org/en/</li>
<li>http://www.densho.org/</li>
<li>http://blog.densho.org/</li>
<li>http://www.campaignforjusticejla.org/</li>
<li>http://www.bijac.org/</li>
<li>http://www.manzanarcommittee.org/The_Manzanar_Committee/Our_Pilgrimage.html</li>
<li>http://www.nps.gov/manz/forteachers/upload/Shinoda%20L.pdf</li>
<li>http://www.tellingstories.org/internment/bchin/index.html</li>
<li>http://www.youtube.com/watch?v=XkeXCQkro_c</li>
<li>http://www.nps.gov/history/museum/exhibits/manz/oral_history_videos.html</li>
<li>http://www.tellingstories.org/internment/bchin/index.html</li>
<li>http://www.nps.gov/manz/forteachers/upload/MiyatakeA.pdf</li>
<li>http://www.discovernikkei.org/en/interviews/clips/295/</li>
<li>http://outsideisamericablog.blogspot.com/2011/01/memories-and-magic-at-manzanar.html</li>
<li>http://www.nps.gov/manz/forteachers/id-booklets.htm</li>
<li>http://www.japaneserelocation.org/</li>
</ul>
</div>

<script>
	document.getElementById("sources").className = "active"
</script>