<div class="hero-unit" style = "padding-top: 15px; padding-bottom:15px;">
<h1> Food </h1>
<p>Food was not of the highest quality at Manzanar. The Japanese are accustomed to their specific cuisine and style of eating. However, Manzanar food was based on military requirements and usually consisted of rice and vegetables as meat was rationed. </p>
<p>Food was served in mess halls where internees waited in long lines. A typical meal was syrupy fruit over rice with vegetables to the side. The camp usually added meat supplements to this. </p>
<p>Internees at Manzanar began cultivating livestock including chickens and hogs. They also began growing vegetables and fruit for consumption. Soy sauce and tofu were also made on premise. With these sources helping them reach back towards their origin, some new foods – more indicative of traditional cuisine – were invented and popularized.</p>
</div>

<h1> Dish 1: Spam Musubi </h1>

<b> Recipe 1, Provided by Ms. Tama Abe </b>

<p>Ingredients:</p>

1 Can of Spam<br/>
3 Cups Uncooked Sushi Rice<br/>
Sugar<br/>
Soy Sauce<br/>
Nori Sheets<br/>
Furikake or Li Hing Mui<br/>
A musubi-maker<br/>
<br/>

<p>Directions:</p>

1.	Make sure to have all of your ingredients ready to go so the Spam stays crisp<br/>
2.	Remember that this is all up to you and your preference; don’t measure anything precisely! Generally, we use three cups of rice per one can of Spam.<br/>
3.	Slice the block of Spam into eight pieces.<br/>
4.	Mix equal amounts of soy sauce and sugar into a bowl.<br/>
5.	Put the sliced Spam in a sauté pan and fry.<br/>
6.	Wait a few minutes and put the soy sauce and sugar on top of the Spam. Once the Spam is crispy enough, transfer the mixture to a plate.<br/>
7.	Moving quickly – cut the nori strips in half lengthwise and put the musubi-maker on the middle of the nori. Scoop some rice into the mold. Press the rice down well.<br/>
8.	Add a thin layer of furikake on top of the rice. Add one slice of Spam and then garnish with more furikake. Add some more rice, and press it down again.<br/>
9.	Last, wrap the nori around the rice, and serve!<br/>
<br/>
<br/>

<b> Recipe 2, Provided by Ms. Patricia Hamada </b>

<p>Ingredients:</p>

2 cups uncooked short-grain white rice<br/>
2 cups water<br/>
6 tablespoons rice vinegar<br/>
1/4 cup soy sauce<br/>
1/4 cup oyster sauce<br/>
1/2 cup white sugar <br/>
1 (12 ounce) container fully cooked Spam<br/>
5 sheets sushi nori (dry seaweed)<br/>
2 tablespoons vegetable oil<br/>
<br/>

<p>Directions:</p>

1.	Soak the uncooked rice for 4 hours; drain and rinse.<br/>
2.	In a saucepan bring 2 cups water to a boil. Add rice and stir. Reduce heat, cover, and simmer for 20 minutes. Stir in rice vinegar, and set aside to cool.<br/>
3.	In a separate bowl, stir together soy sauce, oyster sauce, and sugar until sugar is completely dissolved. Slice Spam into 10 slices, or to desired thickness, and marinate in sauce for 5 minutes.<br/>
4.	In a large skillet, heat oil over medium high heat. Cook slices for 2 minutes per side, or until lightly browned. Cut nori sheets in half and lay on a flat work surface. Place a rice press in the center of the sheet, and press rice tightly inside. Top with a slice of luncheon meat, and remove press. Wrap nori around rice mold, sealing edges with a small amount of water. (Rice may also be formed by hand in the shape of the meat slices, 1 inch thick.) Musubi may be served warm or chilled.<br/>

<script>
	document.getElementById("traditions").className = "active"
</script>
