<div class="hero-unit" style = "padding-top: 15px; padding-bottom:15px;">
<h1> Geta Sandals </h1>
<p>Manzanar was characterized by a very dusty environment. The internees accordingly made wooden clog sandals called Geta that they used to get around. These sandals have an elevated wood base and a fabric strap to keep the foot in place. These can be worn with traditional Japanese clothing, western clothes in the summer, and even work well in the rain and snow. </p>
</div>

<img src = "/geta.jpg"/>
<script>
	document.getElementById("traditions").className = "active"
</script>